.main-header {
  padding: 1%;
  display: flex;
  font-size: calc(10px + 2vmin);
  background-color: #ff6e6e;
  color: white;
  justify-content: center;
}
.test {
  min-width: 70vh;
}
#hi {
  color: black;
}