.main-header {
  padding: 1%;
  display: flex;
  font-size: calc(10px + 2vmin);
  background-color: #ff6e6e;
  color: white;
  justify-content: center;
}
.name-header {
  font-size: calc(10px + 2vmin);
  justify-content: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.test {
  min-width: 70vh;
}
#hi {
  color: black;
}