.courses {
    text-align: center;
    font-size: calc(10px + 2vmin);
    min-height: 75vh;
    padding: 2%;
    justify-content: center;
    position: relative;
}
.course-list {
    justify-content: left;
    text-align: left;
    font-size: calc(4px + 2vmin);
    padding-top: 2%;
    padding-left: 33%;
    padding-right: 33%;
}