.home {
    text-align: center;
    font-size: calc(10px + 2vmin);
    min-height: 75vh;
    padding: 2%;
    justify-content: center;
    position: relative;
}

.socials {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}