.header {
    align-items: left;
    font-size: calc(10px + 2vmin);
    background-color: #ff6e6e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%, 10%, 10%, 10%;
    min-height: 8vh;
}

#test, .test {
    padding: 2%;
}